@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  
div {
  display: flex;
}



body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;

  canvas {
    position: absolute;
    z-index: -1;
  }
  
  #ui {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 0px 10px 3px #ccc;
    align-items: center;
    width: 0;
    width: fit-content;
    height: 100vh;
    background-color: white;
    
    #cycle {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      #rule {
        font-size: 35px;
        font-weight: bold;
        margin: 0;
        padding: 0;
        user-select: none;
        font-family: 'Montserrat', sans-serif;
      }
      #controller {
        margin: 0;
        padding: 0;
        
        p {
          display: flex;
          justify-content: center;
          align-items: center;
          user-select: none;
          font-size: 25px;
          font-weight: bold;
          &:hover {
            cursor:pointer;
          }
          margin: 6px 7px;
        }
      }
    }
    #rules {
      flex-direction: column;
      border-radius: 7px;
      background-color: white;
      width: fit-content;
      height: fit-content;
      // margin-bottom: 25px;
      border-bottom: 0.1px solid #ccc;
      
      
      .box {
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        height: 100px;
        width: 100px;
        border-top: 0.1px solid #ccc;
        &:hover {
          cursor: pointer;
        }
        
        .bit {
          width: 25%;
          height: 25%;
          margin: 2px;
          border: 1px solid black;
        }
        .on {
          background-color: black;
        }
      }
    }
    .slider {
      box-shadow: 0px 0px 10px 3px #ccc;
      -webkit-appearance: none;
      background-color: white;
      border: 1px solid black;
      border-radius: 10px;
      width: 85px;
      height: 7px;
      padding: 0;
      outline: none;
      
      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 20.6px;
        background-color: black;
        border: 1px solid black;
        border-radius: 50%;
        width: 20px;
        margin: 0;
        padding: 0;
      }
      &:hover {
        cursor: pointer;
      }
    }
    #resolution {
      border: 1px solid red;

    }
  }
}


